body{
    background: url(/img/bg.png);
}

#menu{
    margin: auto;
    width: 400px;
}

.item{
    text-align: center;
    border-radius: 15px;
    background-color: white;
    border-width: 0px;
    width: 380px;
    height: 30px;
    margin-top: 30px;
    padding: 10px;
    font-size: 25px;
    cursor: default;
    font-family: helvetica;
}

.chess:hover{
    background-color: #eaca99;
    color: #963707;
}

.poker:hover{
    background-color: black;
    color: #f80000;
}

.rubiks:hover{
    background-color: #2574BB;
    color: #FF6A00;
}

.standard:hover{
    background-color: #c0c0c0;
    color: #303030;
}

input[type=range]{
    -webkit-appearance: none;
    width: 190px;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

input[type=range]:focus{
    outline: none;
}

input[type=text]{
    -webkit-appearance: none;
    width: 280px;
    border-radius: 8px;
    height: 20px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    font-size: 15px;
    font-family: helvetica;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
}

input[type=text]:focus{
    outline: none;
}

.hidden{
    display: none;
}

.text{
    font-size: 25px;
    font-family: helvetica;
    padding-left:10px;
    margin-top: 20px; 
    text-align: center;
}

.small_text{
    font-size: 20px;
}