body{
    background: url(/img/bg.png);
    font-family: Helvetica;
}

body, html {
  height: 97%;
  margin: 10px;
}

#sidebar {
    float: right;
    width: 200px;
    height: 80%;
}

#cards {
    height: 100%;
    margin-right: 220px;
    margin-left: 0;
    background-color: white;
}

.sidebar-content {
    height: 100%;
    background-color: #f0f0f0;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.sidebar-icon {
    width: 20%;
    height: 20%;
    margin: 4%;
}

.sidebar-icon:hover {
    cursor: pointer;
}

input[type="text"] {
    box-sizing:border-box;
    width: 100%;
}

.btn {
    background-color: #f0f0f0;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

#search-button:hover {
    cursor: pointer;
    background-color: #c0c0c0;
}

.button-holder {
    text-align: center;
}